
<label for="title">
	<f:translate key="tx_ertragskarte_domain_model_markers.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="lng">
	<f:translate key="tx_ertragskarte_domain_model_markers.lng" />
</label><br />
	<f:form.textfield property="lng" /><br />
<label for="ltd">
	<f:translate key="tx_ertragskarte_domain_model_markers.ltd" />
</label><br />
	<f:form.textfield property="ltd" /><br />
<label for="place">
	<f:translate key="tx_ertragskarte_domain_model_markers.place" />
</label><br />
	<f:form.textfield property="place" /><br />
<label for="zip">
	<f:translate key="tx_ertragskarte_domain_model_markers.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="street">
	<f:translate key="tx_ertragskarte_domain_model_markers.street" />
</label><br />
	<f:form.textfield property="street" /><br />
<label for="nr">
	<f:translate key="tx_ertragskarte_domain_model_markers.nr" />
</label><br />
	<f:form.textfield property="nr" /><br />
<label for="acreage">
	<f:translate key="tx_ertragskarte_domain_model_markers.acreage" />
</label><br />	
        <input type="number" name="tx_ertragskarte_markers[newMarkers][acreage]"   step="0.01" /><br />
<label for="yield">
	<f:translate key="tx_ertragskarte_domain_model_markers.yield" />
</label><br />
	<input type="number" name="tx_ertragskarte_markers[newMarkers][yield]"   step="0.01" /><br />