
<table class="tx-ertragskarte" >
	<tr>
		<td>
			<f:translate key="tx_ertragskarte_domain_model_markers.title" />
		</td>
		<td>
		{markers.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ertragskarte_domain_model_markers.lng" />
		</td>
		<td>
		{markers.lng}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ertragskarte_domain_model_markers.ltd" />
		</td>
		<td>
		{markers.ltd}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ertragskarte_domain_model_markers.place" />
		</td>
		<td>
		{markers.place}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ertragskarte_domain_model_markers.zip" />
		</td>
		<td>
		{markers.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ertragskarte_domain_model_markers.street" />
		</td>
		<td>
		{markers.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ertragskarte_domain_model_markers.nr" />
		</td>
		<td>
		{markers.nr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ertragskarte_domain_model_markers.acreage" />
		</td>
		<td>
		{markers.acreage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ertragskarte_domain_model_markers.yield" />
		</td>
		<td>
		{markers.yield}
		</td>
	</tr>
</table>