/* 
    Created on : 28.11.2016, 14:38:10
    Author     : denkfabrik
*/

 .infobox {
        background:#fff;
        color: #000;
        font-family: arial;
        line-height: 20px;
        position: absolute;
      }
      .infobox h3{
          /*background-color:rgba(239,239,239,0.9);*/
          color:#009437;
          padding:5px;
          font-weight:bold;
          margin:0;
          
      }
    
      .infobox .close {
      background: none;
      cursor: pointer;
      float: right;
      font-size: 17px;
      height: 40px;
      
      position: relative;
      right: 0;
      text-align: center;
      top: 0;
      width: 40px;
       background:rgb(236,236,236) url(../images/close.png) no-repeat 0 0;
         background-size: auto 40px;
      }
      
      
      .innercontent{
          padding: 0px 10px;
    max-height: 300px;
    width: 100%;
    
    box-sizing: border-box;
      }
      
       
    #controls{
           background-color:#ececec;
          padding:0px 20px 20px 20px;
          position:absolute;
          z-index: 12;
          /*box-shadow: 3px 3px 3px 0px #444;*/
          left:0px;
          top:0px;
      }
      #searchBox{
        
        padding-top:10px;
      }
      
      .legendImg{
          height:30px;
          width:30px;
          display:inline-block;
      }
      
      .close.icon{
          background:none;
          text-indent:0;
      }
      
      
      .resultButton{
        background: #4183C4;
        color: #fff;
        padding: 5px;
        border: #E5E5E5 1px solid;
        text-align: center;
        width:192px;
      }
      .resultHeader{
          float:left;
      }
      
      .resultHeader:first-of-type{
          margin-right:20px;
      }
      