
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:link.action action="list" additionalParams="{type:'1234',no_cache:'1'}" noCacheHash="1" class="test">
Ajax click
</f:link.action>

<div id="searchBox">
            <input id="pac-input" class="controls" type="text" placeholder="Ort, PLZ oder Straße">
            <span></span>
          </div>

<div id="map" style="width:800px;height:800px;">
    
</div>
<div class="ui modal">
    <i class="close icon"></i>
    <div class="ui header">
        <div class="header">Möchten Sie einen neuen Ertragsmarker an dieser Stelle setzen?</div>
    </div>
    <div class="ui content">
    <f:flashMessages />

    <f:render partial="FormErrors" arguments="{object:Markers}" />

    <f:form action="create" controller="Markers" name="newMarkers" object="{newMarkers}" class="ui form" id="newMarkersForm" pageType="3010">
    <f:render partial="Markers/FormFields" />
            <f:form.submit value="Create new" />
    </f:form>
    </div>
</div>
</f:section>
