
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Markers</h1>

<f:flashMessages />

<table  class="tx_ertragskarte" >
	<tr>
		<th><f:translate key="tx_ertragskarte_domain_model_markers.title" /></th>
		<th><f:translate key="tx_ertragskarte_domain_model_markers.lng" /></th>
		<th><f:translate key="tx_ertragskarte_domain_model_markers.ltd" /></th>
		<th><f:translate key="tx_ertragskarte_domain_model_markers.place" /></th>
		<th><f:translate key="tx_ertragskarte_domain_model_markers.zip" /></th>
		<th><f:translate key="tx_ertragskarte_domain_model_markers.street" /></th>
		<th><f:translate key="tx_ertragskarte_domain_model_markers.nr" /></th>
		<th><f:translate key="tx_ertragskarte_domain_model_markers.acreage" /></th>
		<th><f:translate key="tx_ertragskarte_domain_model_markers.yield" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{markerss}" as="markers">
		<tr>
			<td><f:link.action action="show" arguments="{markers : markers}"> {markers.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{markers : markers}"> {markers.lng}</f:link.action></td>
			<td><f:link.action action="show" arguments="{markers : markers}"> {markers.ltd}</f:link.action></td>
			<td><f:link.action action="show" arguments="{markers : markers}"> {markers.place}</f:link.action></td>
			<td><f:link.action action="show" arguments="{markers : markers}"> {markers.zip}</f:link.action></td>
			<td><f:link.action action="show" arguments="{markers : markers}"> {markers.street}</f:link.action></td>
			<td><f:link.action action="show" arguments="{markers : markers}"> {markers.nr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{markers : markers}"> {markers.acreage}</f:link.action></td>
			<td><f:link.action action="show" arguments="{markers : markers}"> {markers.yield}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{markers : markers}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{markers : markers}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Markers</f:link.action>
</f:section>
<div id="map">
    
</div>