
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div class="content_teaser">
<div class="ct_content">

		<h4 class="t3_headline h2">Braugerste-Ertragsmesser</h4>
		<div class="t3_richtext rte">
			<p>Tragen Sie Ihren Ertrag im Braugersten-Ertragsmesser ein und erhalten Sie als eine der 800 ersten Teilnehmer einen Bierträger mit 6 verschiedenen Siegerbieren des European Beer Star! Hier geht es <a href="brauereien/">zu den Brauereien</a>. </p>
			<p><strong>Einfach Ihr Anbaugebiet in der Karte anklicken und Ihren Ertrag angeben!</strong> Ihr Ertrag wird als Gerstenähre auf der Karte sichtbar.</p>
			<p><a href="braugersten-ertragsmesser/teilnahmebedingungen" target="_blank">Teilnahmebedingungen</a> | <a href="sonstiges/datenschutz" target="_blank">Datenschutz</a></p>
			
<p>Vergleichen Sie die Erträge von RGT PLANET in den Landessortenversuchen auf der Karte und überzeugen Sie sich vom Mehrertrag. </p>
	</div>
	

    
    <div id="legend" style="clear:both;">
        <img src="typo3conf/ext/ertragskarte/Resources/Public/images/icon_lsv.png"  class="legendImg" style="width:30px;height:30px;" /> LSV-Ergebnisse | 
        <img src="typo3conf/ext/ertragskarte/Resources/Public/images/icon_baywa.png"  class="legendImg" style="width:30px;height:30px;" > RGT Planet, GRACE und STEFFI | 
        <img src="typo3conf/ext/ertragskarte/Resources/Public/images/icon_andere.png"  class="legendImg" style="width:30px;height:30px;" > weitere Sorten<br>
    </div>
    <div style="position:relative;width:100%;height:800px">

<div id="map" style="width:100%;height:800px;position:absolute;">
        
</div>
</div>
	</div>
	</div>
    <div class="ui modal" id="newMarkersModal">
        <i class="close icon"></i>
        <div class="ui header">
            <div class="header">Möchten Sie einen neuen Ertragsmarker an dieser Stelle setzen?</div>
        </div>
        <div class="ui content">        

        <f:render partial="FormErrors" arguments="{object:Markers}" />
<div class="smart-forms smart-container">
        <f:form action="create" controller="Markers" name="newMarkers" object="{newMarkers}" class="ui form" id="newMarkersForm" pageType="3010">
        
        <f:render partial="Markers/FormFields" />
                <div class="frm-row">
	<div class="colm colm12">
            <input class="button btn-primary" type="submit" value="Ertragsdaten eintragen"><br>
               <br>    <span style="font-size:0.8em;">Die mit * markierten Felder sind Pflichtfelder.</span><br>
					</div>
			</div>
        </f:form>
			</div>
        </div>
    </div>
    <div class="ui modal" id="newMarkersModalSuccess">
        <i class="close icon"></i>
        <div class="ui header">
            <div class="header">Der Marker wurde erfolgreich angelegt.</div>
        </div>
    </div>    
    <div class="ui modal" id="newMarkersModalFailure">
        <i class="close icon"></i>
        <div class="ui header">
            <div class="header">Leider ist ein Problem aufgetreten:</div>
        </div>
        <div class="ui content">        </div>
    </div>    
</f:section>

